/* Fundamentals */

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/* Main */

body {
  display: flex;
  flex-direction: column;
}

body > div {
  flex-basis: 400px;
  padding: 0px 400px;
}

button {
  padding: 5px 30px;
}

/* Section 1 */

.section-1 {
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: 20px;
}

.banner {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner > div {
  max-width: 50%;
}

.banner > .right {
  width: 100%;
  height: 60%;
  background-color: lightgray;
}

/* Section 2 */

.section-2 {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-2 > h1 {
  width: 100%;
}

.gallery {
  display: flex;
  gap: 40px;
}

.gallery > div {
  width: 150px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 140px;
  border: lightskyblue solid 4px;
  border-radius: 10px;
}

/* Section 3 */

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-style: italic;
}

blockquote > .author {
  text-align: right;
  font-weight: bold;
  font-style: initial;
}

/* Section 4 */

.section-4 {
  display: flex;
  align-items: center;
}

.banner {
  background-color: lightblue;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

/* Footer */

.footer {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Helpers */

body > div {
  border: red solid 2px;
}
